
@{
    ViewData["Title"] = "About";
    DateTime now = DateTime.Now;
    DateTime birthday = new DateTime(2002, 02, 24);
    DateTime beginningOfStudies = new DateTime(2022, 10, 01);
    int age = (int)((now - birthday).TotalDays / 365.242199);
    int year = (int)((now - beginningOfStudies).TotalDays / 365.242199) + 1;
}

<h1>O mnie</h1>

<h4>Kamil Keymil72 Podlecki (@age lat)</h4>

                            <!--Education-->
<div class"edu">
    <h2>Wykształcenie i odbyte szkolenia:</h2>
    <div class="imageDiv" style="background-image: url('/images/edu/zsp.jpg')">
        <div class="pop">
            <h4>Średnie:</h4>
            <pre>➤  Technikum informatyczne</pre>
            <pre> ➤ Tytuł: Technik informatyk</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/edu/crete.png')">
        <div class="pop">
            <h4>Staż na university of crete</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Data: 10.2021</pre>
            </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/edu/san.jpg')">
        <div class="pop">
            <h4>Studia:</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Specjalizacja: Technologie programowania</pre>
            <pre>   ➤  Rok: @year/3.5 </pre>
            <pre>   ➤  Przyszł tytuł: Inżynier informatyki</pre>
        </div>
    </div>
</div>

                                <!--Technologies-->

<div class"tech">
    <h2>Znajomość technologii:</h2>

                                <!--1. Technologies-->

    <div class="imageDiv" style="background-image: url('/images/tech/C.png')">
        <div class="pop">
            <h4>C#:</h4>
            <pre>➤  Technikum informatyczne</pre>
            <pre> ➤ Tytuł: Technik informatyk</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Java.png')">
        <div class="pop">
            <h4>Java</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Data: 10.2021</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Sql.png')">
        <div class="pop">
            <h4>SQL:</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Specjalizacja: Technologie programowania</pre>
            <pre>   ➤  Rok: @year </pre>
            <pre>   ➤  Przyszł tytuł: Inżynier informatyki</pre>
        </div>
    </div>

                                    <!--2. Technologies-->

        <div class="imageDiv" style="background-image: url('/images/tech/Asp.png')">
        <div class="pop">
            <h4>Asp .net:</h4>
            <pre>➤  Technikum informatyczne</pre>
            <pre> ➤ Tytuł: Technik informatyk</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Git.png')">
        <div class="pop">
            <h4>Kontrola wersji GIT</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Data: 10.2021</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Github.png')">
        <div class="pop">
            <h4>Github:</h4>
            <pre style="font-size: 24px">   ➤  <a href="https://github.com/Keymil72">Keymil72</a> </pre>
        </div>
    </div>

                               <!--3. Technolgoies-->

    <div class="imageDiv" style="background-image: url('/images/tech/Html.png')">
        <div class="pop">
            <h4>Html:</h4>
            <pre>➤  Technikum informatyczne</pre>
            <pre> ➤ Tytuł: Technik informatyk</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Js.png')">
        <div class="pop">
            <h4>Css</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Data: 10.2021</pre>
        </div>
    </div>

    <div class="imageDiv" style="background-image: url('/images/tech/Css.png')">
        <div class="pop">
            <h4>Js:</h4>
            <pre>   ➤  Kierunek: Informatyka </pre>
            <pre>   ➤  Specjalizacja: Technologie programowania</pre>
            <pre>   ➤  Rok: @year </pre>
            <pre>   ➤  Przyszł tytuł: Inżynier informatyki</pre>
        </div>

    </div>
</div>

<h4>Zainteresowania</h4>
<ul>
    <li>
        <pre>➤  Muzyka</pre>
    </li>
    <li>
        <pre>➤  Tworzenie stron internetowych</pre>
    </li>
    <li>
        <pre>➤  Gry zespołowe</pre>
    </li>
    <li>
        <pre>➤  Tworzenie modyfikacji do gier komputerowych</pre>
    </li>
    <li>
        <pre>➤  Nowinki technologiczne</pre>
    </li>
    <li>
        <pre>➤  Piłka nożna</pre>
    </li>
    <li>
        <pre>➤  Motoryzacja</pre>
    </li>
</ul>
<br>





